body {
  margin: 0;
  background-color: #1D1F20;
}

.container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.grid {
  width: 330px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cell {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: white;
  color: #F62A65; /* glow color */
  border-radius: 50%;
  margin: 3px;
  transform: scale(0.1);
}

/* Animation for grid 1 (I) */
.grid:nth-child(1) .cell:nth-child(12),
.grid:nth-child(1) .cell:nth-child(13),
.grid:nth-child(1) .cell:nth-child(14),
.grid:nth-child(1) .cell:nth-child(15),
.grid:nth-child(1) .cell:nth-child(16),
.grid:nth-child(1) .cell:nth-child(23),
.grid:nth-child(1) .cell:nth-child(32),
.grid:nth-child(1) .cell:nth-child(41),
.grid:nth-child(1) .cell:nth-child(50),
.grid:nth-child(1) .cell:nth-child(57),
.grid:nth-child(1) .cell:nth-child(58),
.grid:nth-child(1) .cell:nth-child(59),
.grid:nth-child(1) .cell:nth-child(60),
.grid:nth-child(1) .cell:nth-child(61) {
  color: white;
  animation: up 3s infinite;
}

/* Animation for grid 2 (<3) */
.grid:nth-child(2) .cell:nth-child(12),
.grid:nth-child(2) .cell:nth-child(13),
.grid:nth-child(2) .cell:nth-child(15),
.grid:nth-child(2) .cell:nth-child(16),
.grid:nth-child(2) .cell:nth-child(20),
.grid:nth-child(2) .cell:nth-child(21),
.grid:nth-child(2) .cell:nth-child(22),
.grid:nth-child(2) .cell:nth-child(23),
.grid:nth-child(2) .cell:nth-child(24),
.grid:nth-child(2) .cell:nth-child(25),
.grid:nth-child(2) .cell:nth-child(26),
.grid:nth-child(2) .cell:nth-child(29),
.grid:nth-child(2) .cell:nth-child(30),
.grid:nth-child(2) .cell:nth-child(31),
.grid:nth-child(2) .cell:nth-child(32),
.grid:nth-child(2) .cell:nth-child(33),
.grid:nth-child(2) .cell:nth-child(34),
.grid:nth-child(2) .cell:nth-child(35),
.grid:nth-child(2) .cell:nth-child(39),
.grid:nth-child(2) .cell:nth-child(40),
.grid:nth-child(2) .cell:nth-child(41),
.grid:nth-child(2) .cell:nth-child(42),
.grid:nth-child(2) .cell:nth-child(43),
.grid:nth-child(2) .cell:nth-child(49),
.grid:nth-child(2) .cell:nth-child(50),
.grid:nth-child(2) .cell:nth-child(51),
.grid:nth-child(2) .cell:nth-child(59) {
  animation: up 3s 0.25s infinite;
}

/* Animation for grid 3 (U) */
.grid:nth-child(3) .cell:nth-child(12),
.grid:nth-child(3) .cell:nth-child(16),
.grid:nth-child(3) .cell:nth-child(21),
.grid:nth-child(3) .cell:nth-child(25),
.grid:nth-child(3) .cell:nth-child(30),
.grid:nth-child(3) .cell:nth-child(34),
.grid:nth-child(3) .cell:nth-child(39),
.grid:nth-child(3) .cell:nth-child(43),
.grid:nth-child(3) .cell:nth-child(48),
.grid:nth-child(3) .cell:nth-child(52),
.grid:nth-child(3) .cell:nth-child(57),
.grid:nth-child(3) .cell:nth-child(58),
.grid:nth-child(3) .cell:nth-child(59),
.grid:nth-child(3) .cell:nth-child(60),
.grid:nth-child(3) .cell:nth-child(61) {
  color: white;
  animation: up 3s 0.5s infinite;
}

@keyframes up {
  30% {
    background-color: currentColor;
    transform: scale(1);
  }
  80% {
    background: white;
    transform: scale(0.1);
  }
}
